<!DOCTYPE html>
<html>
<body>

Name: <input type="text" id="myText" value="name">
ID: <input type="text" id="myText" value="id">
Nickname: <input type="text" id="nickname" value="nickname">
<button onclick="myFunction()">OK</button>
<script>
function myFunction() {
  document.getElementById("myText").value = "Johnny Bravo";
}
</script>
</body>
</html>